body{
    font-family: "Raleway", "Sans serif";
    margin: 0;
}
a{
    text-decoration: none;
}
.header{
    display: flex;
    margin: auto;
    align-items: center;
    max-width: 100%;
}
.ins{
    order: 1;
}
.logo{
    height: 40px;
    padding:0;/*ekhane modify koreci */
}

.nav{
    font-weight: bolder;
}
.nav:hover{
    color: #0065fc;
}

.header a{
    text-decoration: none;
    padding: 2.5rem 2rem; 
}

.heb{
    margin-left: auto;
    color: #0065fc;
    border-top: 3px solid #0065fc;
}

.act{
    color: black;
    
} 
@media screen and (min-width:600px){
    .header2{
        /* visibility: hidden; */
        display: none;
    }
}
@media screen and (max-width:600px){
    .header{
        /* visibility: hidden; */
        display: none;
    }
    .header2 a{
        text-decoration: none;
    }
    .header2{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        height: 100px;
    }
    .nav2{
        font-weight: bolder;
        width: 45%;
    }
    .logo2{
        text-align: center;
        
    }
    
    .heb2{
        border-bottom: 3px solid #0065fc;
        color: #0065fc;
        text-align: center;
        padding-left: 15px;
        
    }
    
    .ins2{
        /* text-align: right;  */
        /* padding-left: 35px;   */
        display: flex;
        justify-content: flex-end;
        align-items: center;
        color: #0065fc;
        font-weight: 810;
    }
    .act2{
        color: black;
       text-align: center;
       border-bottom: 3px solid #f2f2f2;
    }
}

.main{
    max-width: 1440px;
    margin: auto;
    padding: 0 2rem;
    box-sizing: border-box;
}
.firstline{
    margin-bottom: 10px;
}
.form{
    display: inline-flex;
    max-width: 100%;
    /* overflow: auto; */
}
.span{
    background-color: #f2f2f2;
    padding:1rem 1.25rem;
    border-radius: 1rem 0 0 1rem;
    text-align: center;
}
.searchFormWrapiconIcon{
    margin-left:.1rem;
}
.placeholder{
    border-right:none;
    border-left:none;
    border-top:#f2f2f2 1px solid;
    border-bottom:#f2f2f2 1px solid;
    padding:0 1.5rem;
    box-sizing:border-box;
    width:14rem;
    font-size:1rem;
    font-weight:bold;
    font-family:"Raleway","Sans serif"
    
}
.placeholder ::placeholder{
    font-family: "Raleway", "Sans serif";
    font-size:1rem;
    color:#000000;
}
.submit{
    background-color:#0065fc;
    color:#fff;
    font-weight:bold;
    border:none;
    border-radius:0 1rem 1rem 0;
    padding:0 1.5rem;
    font-family:"Raleway","Sans serif";
    font-size:1rem;
    cursor:pointer;
}
.inputbutton{
    display: block;
}


.filters{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
}
.writing{
    margin:0 2rem 1rem 0;
    display:flex;
    align-items:center;
}

.allfilters{
    display: flex;
    align-items: center;
    margin-right: 2rem;
    border: 2px solid #d9d9d9;
    border-radius: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
}
.allfilters:hover{
    transition-duration:.1s;
    cursor:pointer;
    transform:scale(1.015)
}
.firstfilter{
    background-color:#deebff;
    border-radius:100%;
    height:3rem;
    width:3rem;
    min-height:3.5rem;
    min-width:3.5rem;
    display:flex;
    align-items:center;
    justify-content:center;
    margin-right: 2px;
}
.signIcon{
    color:#0065fc;
}
.text{
    margin:0 1rem;
}
.indication{
    display: flex;
    align-items: center;
    margin:1rem 0 2rem 0;
}
.sign{
    height:2rem;
    width:2rem;
    min-height:2rem;
    min-width:2rem;
    border:solid 1px #d9d9d9;
    border-radius:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    margin-right:1rem; 
    
}
.signlogo{
    color: #0065fc;
}


@media screen and (max-width:600px){
    .main{
        padding: 0;
        margin-bottom: 40px;
    }
    .search{
        margin-top: 40px;
        padding: 0 2rem;
    }
    .form{
        display: flex;
        width: 100%;
    }
    .placeholder{
        flex: 1;
        width: 12rem;
    }
    .submit{
        padding: 0 1rem;
        border-radius: 0.8rem;
    }
    .inputbutton{
        display: none;
    }
    .searchbutton{
        display: block;
        color: white;
    }
    .allfilters{
        margin-right: 10px;
    }
    .writing{
        width: 100%;
        padding: 0;
    }
    .firstfilter{
        min-width: 0;
        min-height: 0;
        margin-right: 0;

    }
    .text{
        margin:0 0.5rem;
        font-size: 14px;
    }
    .firstline{
        font-size: 20px;
    }
}
@media screen and (min-width:600px){
    .searchbutton{
        display: none !important;
    }
}


/*main*/
.mainbbox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    /* padding: 0 30px; */
    box-sizing: border-box;
    max-width: 1440px;
}
.mainboxtitle {
    padding-left: 1rem ;
    font-size: 24px;
}
.puroframe{
    background-color:#f2f2f2;
    width: 60%;
    height: auto;
    border-radius: 20px;
    padding: 30px;
}

.gallery{
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
}
.aframe{
    background-color: #fff;
    padding: 6px;
    box-shadow: 0 0 16px #000000;
    margin-bottom: 20px;
    width: 30%;
    /* height: auto;  */
    background-color: white;
    box-sizing: border-box;
    /* line-height: 0; */
    text-decoration: none;
    border-radius: 20px;
}
.aframe:hover{
    transform: scale(1.02);
}
.imgdiv{
    /* height: 60%; */
    height: 7rem;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
}
.etarmukherCaptionTitle{
    margin: 4px 12px 0 12px;
}
.etarmukherImg{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
}
.etarmukherDescription{
    margin: 4px 12px 4px 12px;
}
.etarmukherstrong{
    font-weight: bold;
 }
 .pochondertitle{
     font-size: 20px;
     display: flex;
     justify-content: space-between;
 }
.etarmukhertaragulo{
    display: flex;
    padding-left: 10px;
}
.etarmukhertaragulorekta[data-active="true"]{
    color: #0065fc;
}
.etarmukhertaragulorekta[data-active="false"]{
    color:#d9d9d9;
}
.etaarodekha{
    font-weight: bold;
    padding: 1rem;
    color: black;
}
.jegulopochondo{
    width: 26%;
    /* height: 680px; */
    background-color:#f2f2f2;
    border-radius: 20px;
    padding: 30px;
}
.gallery2{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    height: 90%;
    min-width: 18rem;
}

.pochondersrc{
    background-color: #fff;
    padding: 6px;
    box-shadow: 0 0 16px #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 8.5rem; 
    border-radius: 20px;
    min-width: 18rem;
}

.pochondermukh{
    width: 40%;
    border-radius: 1rem 0 0 1rem;
}
.pochondermukherCaptionTitle{
    font-size: 16px;
}
.pochondermukherDescription{
    font-size: 15px;
}
.pochondermukherContent{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.pochondermukherImg{
    width: 100%;
    height: 100%;
    border-radius: 1rem 0 0 1rem;
}
.pochondertaragulorekta[data-active=true]{
    color:#0065fc;
}
.pochondertaragulorekta[data-active=false]{
    color: #d9d9d9;
}



@media  (max-width:450px){
    .mainbbox{
        flex-direction: column-reverse;
        /* padding: 0 1rem; */
    }
    .puroframe{
        background-color: white;
        width: 100%;
        padding: 0; 
        height: auto;
        margin-top: 20px;
    }
    .jegulopochondo{
        width: 100%;
        padding: 0;
        height: auto;
        margin-top: 20px;
        border-radius: 0;
    }
    .gallery2{
        width: auto;
        padding: 0 2rem;
    }
    .gallery{
        padding: 0 2rem;
        
        
    }
    .etaarodekha{
        padding: 0 2rem;
    }
    .mainboxtitle{
        padding: 0 2rem;
    }
    .pochondertitle{
        padding:0 2rem;
    }
    .aframe{
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        /* margin-bottom: 0; */
    }
    .pochondersrc{
        margin-bottom: 20px;
    }
    .pochondermukherContent{
        font-size: 14px;
    }

    
}
@media (min-width:451px) and (max-width:1100px){
    .aframe{
        min-width: 14.5rem;
    }
    .jegulopochondo{
        margin-top: 1rem ;
        min-width: 24.6rem;
        
    }
    .pochondersrc{
        min-width: 21rem;

    }

}   

/*cativity and footer*/
.activity{
    /* margin-left: 30px; */
    margin: 2rem;
}
.borota{
    max-width: 1440px;
    height:400px;
    display:flex;
    justify-content: space-between;
}
.acti{
    margin: 0;
    text-decoration: none;
    line-height: 0;
    border-radius: 1rem;
    color: black;
    font-weight: bold;
}
.activity h3{
    font-size: 15px;
    /* margin: 15px; */
}
.prothomta{
    height: 100%;
    width: 24%;
    border-radius: 1rem;
    background-color: white;
    
}
.prothomtaimg{
    height: 90%;
    width: 100%;
    border-radius: 1rem;
}

.ditiota{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 24%;
    justify-content: space-between;
    margin-left: 15px;
    background-color: white;
    border-radius: 1rem;
    
}
.ditioprothomta{
    height: 55%;
    width: 100%;
    
}
.ditioprothomtaimg{
    width: 100%;
    height: 90%;
}


.ditioditiota{
    height: 40%;
    width: 100%;
    
}
.ditioditiotaimg{
    width: 100%;
    height: 75%;
}


.tritiota{
    height: 100%;
    width: 24%;
    margin-left: 15px;
    background-color: white;
    border-radius: 1rem;
    
}
.tritiotaimg{
    height: 90%;
    width: 100%;
}

.lasta{
    height: 100%;
    width: 24%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 15px;
    background-color: white;
    border-radius: 1rem;
}
.lastaprothomta{
    height: 48%;
    width: 100%;
    
}
.lastaprothomtaimg{
    width: 100%;
    height: 80%;
}


.lastaditiota{
    height: 50%;
    width: 100%;
    
}
.lastaditiotaimg{
    width: 100%;
    height: 80%;
}

.chotoimg{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
}

@media  (max-width:600px){
    .activity{
        padding: 0 2rem;
        margin: 0;
    }
    .borota{
        display: flex;
        flex-direction: column;
        /* align-items: space-between; */
        height: auto;
    }
    .prothomta, .tritiota {
        width: 100%;
        height: auto;
        margin: 0;
        box-shadow: 0 0 16px #000000;
        border-radius: 1rem;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
    }
    .ditiota{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        /* align-items: space-between; */
        margin: 0;
    }
    .ditioprothomta, .ditioditiota{
        width: 100%;
        height: auto;
        box-shadow: 0 0 16px #000000;
        border-radius: 1rem;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
    }
    .lasta{
        width: 100%;
        display: flex;
        flex-direction: column;
        /* align-items: space-between; */
        height: auto;
        margin: 0;
    }
    .lastaprothomta, .lastaditiota{
        width: 100%;
        height: auto;
        box-shadow: 0 0 16px #000000;
        border-radius: 1rem;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        
    }
    .borota h3{
        height: auto;
        padding-left: 20px;
        margin-bottom: 10px;

    }
    .chotoimg{
        height: 150px;
    }
}
 @media (min-width:600px) and (max-width:900px){
    .borota{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: auto;
    }
    .ditiota, .lasta{
        width: 250px;
        height: 700px;
    }
     .prothomta, .tritiota, .ditioprothomta, .ditioditiota, .lastaditiota, .lastaprothomta {  
        min-width: 250px;
        min-height: 350px;
        width: 250px;
        height: 350px;
        max-width: 250px;
        max-height: 350px;
        
    }
    .ditiota, .lasta, .tritiota{
        margin: 0;
    }
    
    
} 

/* Footer Beginning */
.footer{
    margin-top: 30px;
    background-color:#f2f2f2;
    width: 100%;
    
}
.box a{
    color: black;
}
.box{
    display:flex;
    max-width:100%;
    width:100%;
    margin:auto;
    /* padding:0 2rem; */
    box-sizing:border-box;
}
.miniBox{
    width:30%;
    padding:2rem 2rem;
}
.flink{
    display:block;
    margin:1rem 0;
    text-decoration: none;
}
.flink:hover{
    text-decoration:underline;
}
@media screen and (max-width:600px){
    .footer{
        margin-top: 2rem;
    }
    .box{
        display: flex;
        flex-direction: column;
    }
    .miniBox{
        /* width: 100%; */
        width: auto;
        height: auto;
        font-size: 16px;
        /* padding: 32px; */
    }
    .fTitle{
        margin: auto;
    }
}
